<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>
<body>
    <div style="border: 2px solid black;height: 500px; width: 500px; background-color: antiquewhite;">
    <form method="POST" action="">
        <div>
            <input type="checkbox" name="completed" id="completed">
            <p id="tasklist"></p>
            <button id="edit" >Edit task</button>
        </div>
        <input type="text" id="task" placeholder="Enter task here">
    </form>
</div>
</body>
</html>